
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    font-family: 'Audiowide', cursive;
    color: rgb(102, 101, 101);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', cursive;
    width: 90%;
    height: 90%;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.directions {
    text-align: center;
    width: 100%;
    padding: 40px 0px 0px 0px;
}

.cart-nav {
    text-align: center;
    width: 100%;
}

#list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

ul {
    list-style-type: none;
    padding: 4px;
}

li {
    border: solid 2px white;
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
    width: 180px;
    height: 480px;
    text-align: center;
    color: black;
}

table {
    
}


footer {
    display: flex;

}